body {
	font-size: 20px;
	background-color: #040203;
	font-family: Inconsolata, monospace;
}

a {
}

a:hover {
}

a:active {
}

p {
	padding-top: 5px;
	padding-bottom: 15px;
}


/**********/
/* MAIN */
/**********/

div#banner {
	text-align: center;
	color: white;
	position: relative;
	width: 100%;
	height: auto;
	margin: auto;
}

div#banner #holder {
	position: absolute;
	top: 30%;
	bottom: 70%;
	right: 0;
	left: 0;
}

div#banner #name {
	margin: auto;
	font-size: 72px;
	line-height: 76px;
	text-transform: uppercase;
	letter-spacing: 15px;
}

div#banner #name #name-text {
	border: 5px solid white;
	width: max-content;
	display: inline-block;
}

div#banner #pronouns {
	font-size: 26px;
}

div#banner img {
	width: 100%;
}
