:root {
    --secondary-color: #fcad82;
    --timeline-width: 0.3rem;
    --large-timeline-circle-width: 2.5rem;
    --small-timeline-circle-width: 2rem;
}

body {
    font-size: 16px;
    background-color: #040203;
    font-family: Inconsolata, monospace;
    color: white;
    letter-spacing: 0.1em;
}

body,
html {
    margin: 0;
    padding: 0;
}

a {
    color: var(--secondary-color);
    text-decoration: underline;
}

a:hover,
a:active,
a:visited {
    color: #6e8cbe;
}

/**********/
/* BANNER */
/**********/

div#banner {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

div#banner #holder {
    position: absolute;
    top: 20%;
    bottom: 80%;
    right: 0;
    left: 0;
}

div#banner #name {
    margin: auto;
    font-size: 72px;
    line-height: 76px;
    text-transform: uppercase;
    border: 5px solid white;
    width: max-content;
    display: inline-block;
    letter-spacing: 15px;
    padding-left: 35px;
    padding-right: 20px;
}

div#banner #pronouns {
    font-size: 26px;
}

div#banner img {
    width: 100%;
}

/********/
/* MAIN */
/********/

div#home {
    padding: 0;
    margin: auto;
    max-width: 1500px;
}

div#home h1 {
    letter-spacing: inherit;
    font-size: 36px;
    text-decoration: underline;
    font-weight: normal;
}

div#home h2 {
    letter-spacing: inherit;
    font-weight: normal;
    font-size: 24px;
}

div#home h3 {
    letter-spacing: inherit;
    font-weight: bold;
    font-size: 18px;
}

div#home h4 {
    letter-spacing: inherit;
    font-weight: normal;
    font-size: 18px;
}

div#home ul {
    list-style-type: disclosure-closed;
    list-style-position: inside;
    padding-left: 0px;
}

div#home ul li {
    padding-bottom: 10px;
}

div#home div.nav-section {
    margin-bottom: 200px;
    margin-right: 150px;
    margin-left: 150px;
}

div#work h2.company {
    display: inline;
}

div#work h2.company::after {
    content: " :: ";
}

div#work h2.position {
    display: inline;
}

div#work div.work-header {
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
}

div#work div.work-wrapper {
    border-left: var(--timeline-width) solid white;
    padding-bottom: 75px;
    padding-left: 3rem;
    position: relative;
}

div#work div.work-wrapper::before {
    background-color: white;
    border-radius: 100%;
    content: "";
    height: var(--small-timeline-circle-width);
    left: calc(
        -1 * var(--small-timeline-circle-width) / 2 - var(--timeline-width) / 2
    );
    position: absolute;
    top: 0;
    width: var(--small-timeline-circle-width);
}

/* starting dot */
.work-wrapper:first-of-type::before {
    height: var(--large-timeline-circle-width) !important;
    left: calc(
        -1 * var(--large-timeline-circle-width) / 2 - var(--timeline-width) / 2
    ) !important;
    width: var(--large-timeline-circle-width) !important;
}

/* ending dot */
.work-wrapper:last-of-type::after {
    background-color: white;
    border-radius: 100%;
    content: "";
    height: var(--large-timeline-circle-width);
    left: calc(
        -1 * var(--large-timeline-circle-width) / 2 - var(--timeline-width) / 2
    );
    position: absolute;
    bottom: 0;
    width: var(--large-timeline-circle-width);
}

div#life-grid {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    padding: 50px;
    grid-auto-flow: column;
}

div#life img {
    border-radius: 50%;
    width: 550px;
    height: 550px;
    object-fit: cover;
}

div#life-grid div.left {
    grid-column: 1;
}
div#life-grid div.right {
    grid-column: 2;
}

div#misc h2.project {
    text-align: right;
}

div#misc div.project-header {
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
}

div#misc h3.date {
    text-align: right;
    margin-bottom: 25px;
}

div.description {
    /* margin-bottom: 75px; */
    /* padding-bottom: 75px; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease-in-out;
    -webkit-transition: max-height 400ms ease-in-out;
    -moz-transition: max-height 400ms ease-in-out;
}

div.description-open {
    /* may have to adjust if text is cut off... it's not exact */
    max-height: 500px;
}

/*******/
/* NAV */
/*******/

div#nav {
    position: fixed;
    width: 100%;
    bottom: -110px;
    text-align: center;
    background-color: rgba(4, 2, 3, 0.5);
    padding-top: 10px;
}

div#nav .btn {
    background-color: white;
    border: none;
    color: #040203;
    padding: 20px;
    display: inline-block;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    font-size: 24px;
    padding-bottom: 60px;
    margin-right: 50px;
    margin-left: 50px;
    letter-spacing: inherit;
}

.active-section {
    background-color: var(--secondary-color) !important;
}
