/**********/
/* HEADER */
/**********/

header {
	width: 85%;
	height: 130px;
	float: right;
	text-align: right;
	margin-right: 50px;

}

header h1 {
	width:50%;
	position: fixed;
	right: 50px;
	text-transform: uppercase;
	font-size: 80px;
	text-shadow: 0 0 10px #fff;
	padding: 10px;
	word-spacing: 3px;
	letter-spacing: 5px;
	left:50%;
}

/************/
/* SECTIONS */
/************/

.section-body {
	width:45%;
	float:left;
}

.pers-subpage img.vert {
    width: 100%;
}
.pers-subpage img.horz-inline {
	width:100%;
	border: white solid 2px;
}
.pers-subpage img.horz {
	width:100%;
}

/**************/
/* NAVIGATION */
/**************/

.nav {
	position: fixed;
	width: 15%;
	float: left;
}

.nav li {
	height: 100px;
	width: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	padding:auto;
	text-align:center;
	margin:auto;
	margin-top:25px;
	margin-bottom:10px;
}

.nav-stacked > li + li {
	padding:auto;
	margin-left: auto;
}

.nav li a {
	padding: 35px 0;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius:100px;
}

.nav li a:hover {
	text-transform: none;
	background-color: transparent;
}

li.tall a {
	padding: 30px 0;
	font-size: 12px;
}