/**********/
/* HEADER */
/**********/

header {
	width: 85%;
	height: 150px;
	float: right;
	text-align: right;
	margin-right: 50px;
}

header h1 {
	width:40%;
	position: fixed;
	right: 50px;
	text-transform: uppercase;
	font-size: 100px;
	text-shadow: 0 0 15px #fff;
	padding: 10px;
	word-spacing: 5px;
	letter-spacing: 8px;
	left:60%;
}

/************/
/* SECTIONS */
/************/

.section-body {
	width:55%;
}

/**************/
/* NAVIGATION */
/**************/

.nav {
	position: fixed;
	width: 15%;
	float: left;
}

.nav li {
	height: 150px;
	width: 150px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	text-align:center;
	margin:auto;
	margin-top:15px;
	margin-bottom:20px;
}

.nav-stacked > li + li {
	padding:auto;
	margin-left: auto;
}

.nav li a {
	padding: 65px 0;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius:150px;
}

.nav li a:hover {
	text-transform: none;
	background-color: transparent;
}

li.tall a {
	padding: 45px 0;
}
